/*

2. Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, Times New Roman, serif;`.
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`.

6. Dimensions:
   * The entire content and the main section content area is `960px` wide.
   * Pro-tip: Use the [Page Ruler](https://chrome.google.com/webstore/detail/page-ruler/jlpkojjdgbllmedoapgfodplfhcbnbpn/related?hl=en) extension to measure the size of elements. */


/* Background pattern from Toptal Subtle Patterns */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/congruent_outline.png);
    margin: 0;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

.navbar {
    width: 960px;
    margin: 0 auto;
}

.name-box {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    padding: 20px;
    width: 250px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    /* display: block; */
    padding: 8px;
    background-color: #dddddd;
}

.jumbotron {
    width: 960px;
    margin: 30px auto;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 20px;
}

hr {
    color: #dddddd;
    margin: 20px 0px 20px 0px;
    font-weight: bolder;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.title {
    color: #4aaaa5;
}

footer {
    background-color: #666666; 
    text-align: center;
    color: #777777;
    border-top: 5px solid #4aaaa5;
    padding-top: 30px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

[type=submit] {
    background-color: #4aaaa5;
    padding: 5px 10px;
    color: #fff;
    border: none;
}

.my-form {
    /* padding: 20px; */
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label {
    display: block;
}

.my-form input[type="text"], .my-form textarea {
    padding: 8px;
    width: 100%;
}
