/*

2. Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, Times New Roman, serif;`.
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`.

6. Dimensions:
   * The entire content and the main section content area is `960px` wide.
   * Pro-tip: Use the [Page Ruler](https://chrome.google.com/webstore/detail/page-ruler/jlpkojjdgbllmedoapgfodplfhcbnbpn/related?hl=en) extension to measure the size of elements. */


/* Background pattern from Toptal Subtle Patterns */
body {
    background-image: url(../images/congruent_outline.png)

}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    /* position: relative;
    width: 100%; */
}

.navbar {
    width: 960px;
    margin: 0 auto;
}

.jumbotron {
    width: 960px;
    margin: 0 auto;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    box-sizing: border-box;
    /* clear: both; */
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.title {
    color: #4aaaa5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

.name-box {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    position: relative;
    left: 30px;
    bottom: 0px;
    padding: 5px;
    border-radius: .5rem;
    width: 243px;
    /* display: inline; */
}

footer {
    background-color: #666666; 
    text-align: center;
    color: #777777;
    border-top: 5px solid #4aaaa5
}
