/* To Fix:
    - Put the name box on the same line as nav buttons in header
        - namebox display inline makes the background shrink to like 10px wide

    - Make namebox have the full height of the header
    - Make the footer go to the bottom of the document, not the viewport
    - Position images in portfolio page
    - Give images labels and make them links
    

    - Uncertain of whether the elements are in proper order, or whether styling on one is messing up others, etc.
    - There's probably a better use of classes (more re-using, DRY)
 */

/* Background pattern from Toptal Subtle Patterns */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/congruent_outline.png);
    margin: 0;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 75.5px;
}

.navbar {
    width: 960px;
    margin: auto;
}

.name-box {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    padding: 20px;
    width: 250px;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    top: 21px;
}

li {
    float: right;
    /* display: block; */
    padding: 8px;
    /* background-color: #ffffff; */
}

li a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
}

.jumbotron {
    width: 960px;
    margin: 30px auto;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 20px;
}

hr {
    color: #dddddd;
    margin: 20px 0px 20px 0px;
    font-weight: bolder;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.title {
    color: #4aaaa5;
}

footer {
    background-color: #666666; 
    text-align: center;
    color: #777777;
    border-top: 5px solid #4aaaa5;
    padding-top: 30px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

[type=submit] {
    background-color: #4aaaa5;
    padding: 5px 15px;
    color: #fff;
    border: none;
}

.my-form {
    color: #777777;
    margin-right: 20px;
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label {
    display: block;
    padding-bottom: 5px;
}

.my-form input[type="text"], .my-form textarea {
    padding: 8px;
    width: 100%;
}
